<!DOCTYPE	html>
<html>
	<head>
		<title>Flipper!</title>
	</head>

	<header>

		<% if current_user %>
			Welcome <%= current_user.name %>!
			<form id="sign-out" method="post" action="/sessions/delete">
        <input type="submit" value="Sign out" class='button'>
      </form>
		<% else %>
			<div id="sign-up-button">
				<form action="/users/new">
					<button type="submit">Sign Up</button>
				</form>
			</div>
			<div id="sign-in-button">
				<form action="/sessions/new">
					<button type="submit">Sign In</button>
				</form>
			</div>
		<% end %>

	</header>

	<body>
		
		<div id="new-flip">
			<form action='/' method="POST">
				Flip: <input type="text" name="flip">
				<button type="submit">Flip!</button>
			</form>
		</div>

		<div id="flip-list">
			<% if @flips.any? %>
				<% @flips.each do |flip| %>
							<li><%= flip.content %><br/>
								<%= flip.created_at %></li>
					<% end %>
			<% else %>
					<h1>No-one's Flipped!</h1>
			<% end %>
		</div>

</body>
</html>